

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    text-align: center;
    background: linear-gradient(45deg, purple, rgb(55, 55, 107), red, yellow, green);
    background-size: 500% 500%; /* Adjusted background size */
    color: transparent;
    -webkit-background-clip: text;
    animation: gradientAnimation 9s ease infinite; /* Change '7s' to adjust speed */
}

 span{color:red}


.box1-title{font-family:Changa One;
text-align: center;
}

.box1-title{font-size: 10vmin;}


div .rps-container{font-size: 100px;
    padding: 0px 0px;
    margin: -12px 0px;
}

.box:hover {
    background-color: rgba(26, 26, 26, 0.116);
    margin: -10px 10px;
  }
  
  .box:active {
    background-color: #f2f2f2; /* Light color to match with other colors */
  }
  
.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 22px ; 
    height:50vmin;

   
}



a{text-decoration: none;
color: black;}

/* styling for box 2 "Guess The Game" */



/* .box .head-title{padding-bottom:245px;}  */


.box h1{color: black;}

.head-title {
    position: relative;
    text-align: center;
}

.tilted-left,
.tilted-right,
.tilted-middle,
.tilted-middleleft,
.tilted-topright {
    font-size: 3em;
    position: absolute;
    transition: top 1s ease; /* Transition for smooth movement */
    top: -35px; /* Adjust this value to position the numbers higher */
}

.tilted-left {
    left: 0;
    transform: rotate(-5deg);
    color:rgb(255, 166, 0);
cursor: pointer;
}

.tilted-right {
    right: 0;
    transform: rotate(5deg);
    color:green;
}

.tilted-middle {
    left: 50%;
    transform: translateX(-50%) rotate(-5deg); 
    color:rgb(235, 231, 14)
}
.tilted-middleleft{left: 22%;
    font-size: 2em;
    margin: 0 22px;
    transform: translateX(-50%) rotate(-5deg);
color:blue}

    .tilted-topright{  font-size: 2em;
        transform: rotate(-5deg);
    right:50px;
    color: red;
    font-family:'Times New Roman', Times, serif
}

/* hover section */
.tilted-topright:hover{  
color: rgb(196, 0, 0);
}

.tilted-middleleft:hover{
color:rgb(0, 0, 134)}

.tilted-middle:hover{
    color:rgb(255, 252, 103)
}
.tilted-left:hover {

    color:rgb(255, 208, 121)

}
.tilted-right:hover{
 
    color:rgb(53, 255, 53);
}



.tilted-left:hover,
.tilted-right:hover,
.tilted-middle:hover,
.tilted-middleleft:hover,
.tilted-topright:hover{


    animation: moveUp 1.5s ease-in-out infinite; }

    @keyframes moveUp {
      
        50% { top: 10px; } /* Move up gradually */
        100% { top: 10; } /* Return to original position */
    }


/* When I zoom out the code starts to get distorted needs to be fix */
  .gtn{font-size: 3vmin;
padding-bottom: 10px;} 
 
.head-title .gtn-title h1{font-size: 11.7vmin;}

/* .comingsoon{ 
    font-size: 6vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;}
    
     */
/* 
     .comingsoon {
        font-size: 6vmin;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        color: transparent;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #007bff, #00ffff, #007bff);
        -webkit-background-clip: text;
        background-clip: text;
        animation: wave 2s linear infinite;
    }
     */



     .comingsoon {
        color: #fff;
        font-size: 8vmin;
        position: absolute;
        font-family: "Poppins", sans-serif;
        align-items: center;
        justify-items: center;

    }
    
    .comingsoon:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 1.4px rgb(13, 99, 211);
        filter: blur(0,53px);
 

      }
      
    
    .comingsoon:nth-child(2) {
        color:blue;
        animation: animate 4s ease-in-out infinite;
          font-family: "Poppins", sans-serif;
          align-items: center;
          justify-items: center;
  
    }
    
    @keyframes animate {
        0%,
        100% {
            clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
            );
        }
    
        50% {
            clip-path: polygon(
                0% 59%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
            );
        }
    }
    

    .STB-title h1{font-family: 'Times New Roman', Times, serif;

font-size: 8vmin;   
align-items: center; 
text-align:center;}


.STB-img img{width: 180px;
max-width: 200px;
padding:2px 0px}

.STB-img{
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
   
}