body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-shadowbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    max-width: 500px;
    width: 100%;
}

.container-shadowbox h1 {
    text-align: center;
}

.GameContainer {
    position: relative;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Make canvas responsive */
    height: auto; /* Automatically adjust height */
    border: 6px solid;
}

.scoreContainer {
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start; /* Align children to the top */
    align-items: flex-end; /* Align children to the right */
    position: absolute;
    top: -90px; /* Adjust top position */
    right: 10px; /* Adjust right position */
}
@media screen and (max-width: 600px) {
    .scoreContainer {
        right: -4%; /* Adjust right position for smaller screens */
    }

    #score, #highScore {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}