body{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .container-shadowbox{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
height:100%;
padding:0 80px;}

    h1{font-size: 3.5rem;
    font-family:Changa one;}


.container-instructionhint{text-align: center;}


.guess-instructions .container-hint{margin: 0 auto;}

 /* Add this CSS to center the "HOME" button */
.homerestart-container {
    text-align: center;
}


.home {
    margin: 0 auto;
}

/* .home:hover {
    color: #0e070789;
    transform: scale(1.2); 
}
  */

 
.refresh-btn:hover .fa-refresh {
    color:rgb(6, 206, 216); /* Change the color on hover */
    transform: scale(1.2); /* Increase the size on hover */

    
}


.home:hover {
    color: #0e070789; /* Change the color on hover */
    transform: scale(1.2); /* Increase the size on hover */
}

.fa-refresh{color:rgb(4, 153, 161);}


/* icon animation  */
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin-animation {
    animation: spin 1s linear; /* 1-second spin animation */
    color:rgb(4, 153, 161);
}

.head-title {
    position: relative;
    text-align: center;
}

.tilted-left,
.tilted-right,
.tilted-middle,
.tilted-middleleft,
.tilted-topright {
    font-size: 3em;
    position: absolute;
    transition: top 1s ease; /* Transition for smooth movement */
    top: -35px; /* Adjust this value to position the numbers higher */
}

.tilted-left {
    left: 0;
    transform: rotate(-5deg);
    color:rgb(255, 166, 0);
cursor: pointer;
}

.tilted-right {
    right: 0;
    transform: rotate(5deg);
    color:green;
}

.tilted-middle {
    left: 50%;
    transform: translateX(-50%) rotate(-5deg); 
    color:rgb(235, 231, 14)
}
.tilted-middleleft{left: 22%;
    font-size: 2em;
    margin: 0 22px;
    transform: translateX(-50%) rotate(-5deg);
color:blue}

    .tilted-topright{  font-size: 2em;
        transform: rotate(-5deg);
    right:50px;
    color: red;
    font-family:'Times New Roman', Times, serif
}

/* hover section */
.tilted-topright:hover{  
color: rgb(196, 0, 0);
}

.tilted-middleleft:hover{
color:rgb(0, 0, 134)}

.tilted-middle:hover{
    color:rgb(255, 252, 103)
}
.tilted-left:hover {

    color:rgb(255, 208, 121)

}
.tilted-right:hover{
 
    color:rgb(53, 255, 53);
}



.tilted-left:hover,
.tilted-right:hover,
.tilted-middle:hover,
.tilted-middleleft:hover,
.tilted-topright:hover{


    animation: moveUp 1.5s ease-in-out infinite; }

    @keyframes moveUp {
      
        50% { top: 10px; } /* Move up gradually */
        100% { top: 10; } /* Return to original position */
    }

    .answer{text-align: center;
    margin: 0 auto;
padding: 10px 5px;}

.container-guessinput{
    text-align: center;
    margin: 0 auto;
padding: 14x 0px;
}


.container {
    /* Your main website container styles */
    min-height: 100vh; /* Set minimum height to fill the viewport */
    position: relative; /* Position the bottom container relative to this container */
}

.bottom-container {
    position: absolute; /* Position at the bottom of the container */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Occupy full width */
}

.homerestart-container {
    display: flex;
    justify-content: center; /* Align items horizontally at the center */
    padding: 30px 0;
}

.horizontal-flex {
    display: flex; /* Create a flex container */
    align-items: center; /* Align items vertically at the center */
    gap:20px; /* Adjust the space between the buttons */
}

/* Style for the buttons */
button {
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    
    
}


.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
     cursor: pointer;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


   .input input[type="number"] {
    width:200px; /* Adjust this value as needed */
    border-radius: 10px;
    height: 50px;
    text-align: center;
font-size: 2vmin;
}
.container-previousguest{text-align: center;
margin: 0px 0px;
padding: 20px 0px;}


.answer{color:black;
font-size: 2vmin;}
